@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');
$cdn: '//img.movavi.com/img.movavi.17/images/snitch-games';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* PALETTE */

$mainBlue: #084589;
$mainYellow: #ffd740;
$btnLineOhra: #a58b29;
/* PALETTE */

.snitch-game {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-image: url('#{$cdn}/quiddich-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
    @media (min-width: 768px) {
        &.snitch-game-cursor {
            cursor: url('#{$cdn}/quiddich-hand-32.cur'), default;
            cursor: url('#{$cdn}/quiddich-hand.png') 10 17,
            default;
            * {
                cursor: url('#{$cdn}/quiddich-hand-32.cur'),
                pointer;
                cursor: url('#{$cdn}/quiddich-hand.png') 10 17,
                pointer;
            }
            &-closed {
                cursor: url('#{$cdn}/quiddich-hand-close-32.cur'),
                pointer;
                cursor: url('#{$cdn}/quiddich-hand-close.png') 0 6,
                pointer;
                * {
                    cursor: url('#{$cdn}/quiddich-hand-close-32.cur'),
                    pointer;
                    cursor: url('#{$cdn}/quiddich-hand-close.png') 0 6,
                    pointer;
                }
            }
        }
    }
    &__area {}
    &__box {
        width: 20%;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        transition: transform .3s ease;
        transform-origin: 50% 50%;
        filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, .2));
        filter: progid:DXImageTransform.Microsoft.dropshadow(color=rgba(0, 0, 0, .2), offx=3, offy=3);
    }
    &__fly {
        display: block;
        user-select: none;
        animation: snitch-rocked 1s infinite linear;
        &_catch {
            animation: snitch-hover 1s infinite alternate;
        }
    }
    &__img {
        display: block;
        width: 100%;
    }
    &-popup {
        position: fixed;
        width: 18.125rem;
        max-width: 18.125rem;
        background-color: $mainBlue;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        border: 1px solid;
        z-index: 999;
        &_main {
            padding: 3rem 1.25rem 2.375rem 1.25rem;
            @media (min-width: 768px) {
                width: 500px;
                max-width: 500px;
                padding: 1.4rem 1.625rem 2.125rem 1.625rem;
            }
            @media (max-height: 25rem) {
                padding: 1rem;
            }
        }
        &_over {
            display: flex;
            align-items: center;
            padding: 1.25rem 0 0 0;
            text-align: center;
            flex-direction: column;
            z-index: 999;
            @media (min-width: 768px) {
                width: 25rem;
                max-width: 25rem;
                align-items: flex-end;
            }
            @media (max-height: 25rem) {
                padding: .25rem 0 0 0;
            }
        }
        &__magic {
            position: absolute;
            display: flex;
            transform: rotateZ(45deg);
            &:before,
            &:after {
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                border-top: 1px solid;
                border-left: 1px solid;
                border-color: inherit;
                margin-left: 2px;
                animation: snitch-magic .5s infinite alternate;
            }
            &_over {
                &:nth-child(1) {
                    border-color: #fff;
                    left: -1.5rem;
                    transform: rotate(32deg);
                    top: .25rem;
                }
                &:nth-child(2) {
                    border-color: #fff;
                    left: -1.5rem;
                    transform: rotate(-2deg);
                    top: 3rem;
                    animation-duration: .3s;
                }
                &:nth-child(3) {
                    border-color: #fff;
                    left: -1rem;
                    transform: rotate(-32deg);
                    top: 5.5625rem;
                    animation-duration: .1s;
                }
                &:nth-child(4) {
                    border-color: #fff;
                    right: -1.125rem;
                    transform: rotate(-228deg);
                    top: .0625rem;
                    animation-duration: .2s;
                }
                &:nth-child(5) {
                    border-color: $mainYellow;
                    right: -1.5625rem;
                    transform: rotate(-191deg);
                    top: 2.875rem;
                }
                &:nth-child(6) {
                    border-color: $mainYellow;
                    right: -.9375rem;
                    transform: rotate(28deg);
                    top: 5.875rem;
                    animation-duration: .1s;
                }
            }
        }
        &__close {
            position: absolute;
            display: flex;
            width: 1.3125rem;
            height: 1.3125rem;
            top: .6875rem;
            right: 1rem;
            align-items: center;
            justify-content: center;
            background-color: $mainYellow;
            border: 1px solid #000;
            border-radius: 50%;
            flex-direction: column;
            box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
            transform: translate3d(-1px, -1px, 0);
            transition: transform .3s ease, box-shadow .3s ease;
            &:before,
            &:after {
                content: '';
                width: 80%;
                display: block;
                height: 1px;
                background-color: #000;
            }
            &:before {
                transform: rotateZ(45deg);
            }
            &:after {
                transform: translateY(-100%) rotateZ(-45deg);
            }
            &:hover {
                box-shadow: 0 0 0 rgba(0, 0, 0, .2);
                transform: translate3d(0, 0, 0);
            }
            @media (min-width: 768px) {
                width: 1.875rem;
                height: 1.875rem;
            }
        }
        &__header {
            font-size: 1.8rem;
            font-weight: 800;
            color: #fff;
            margin-bottom: .4rem;
            letter-spacing: .05rem;
            line-height: 2.3rem;
            @media (min-width: 768px) {
                max-width: 70%;
                font-size: 1.7rem;
                letter-spacing: -.05rem;
                line-height: 2.1rem;
            }
            @media (max-height: 25rem) {
                font-size: 1rem;
                line-height: 1.3rem;
            }
            &_over {
                @media (min-width: 768px) {
                    max-width: 100%;
                    width: 100%;
                    font-size: 2.2rem;
                    margin-bottom: 1.5rem;
                    text-align: center !important;
                }
            }
        }
        &__result {
            font-size: 3.8rem;
            color: $mainYellow;
            font-weight: 800;
            margin-bottom: .8rem;
            line-height: 2.9375rem;
            @media (max-height: 25rem) {
                font-size: 2rem;
                line-height: 1rem;
            }
            &-wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (min-width: 768px) {
                    max-width: 8.125rem;
                    margin-right: .5625rem;
                    margin-bottom: 1.5rem;
                }
            }
        }
        &__descr {
            font-size: 0.9375rem;
            font-weight: 600;
            display: block;
            color: $mainYellow;
            margin-bottom: 1.8rem;
            letter-spacing: -.01rem;
            &_over {
                width: 80%;
                margin-bottom: .7rem;
                color: #fff;
            }
            @media (min-width: 768px) {
                letter-spacing: 0;
                margin-bottom: 1rem;
            }
        }
        &__btn {
            position: relative;
            display: block;
            text-decoration: none;
            background-color: $mainYellow;
            padding: .4375rem;
            border: 1px solid #000;
            text-align: center;
            font-size: .9rem;
            transition: transform .3s ease, box-shadow .3s ease;
            box-shadow: 9px 5px 0 rgba(0, 0, 0, .2);
            transform: translate3d(-4px, -2px, 0);
            @media (min-width: 768px) {
                padding: .5rem;
            }
            &:first-child {
                margin-bottom: 20px;
                @media (min-width: 768px) {
                    margin: 0;
                }
            }
            &:last-child {
                @media (min-width: 768px) {
                    margin-left: 1.125rem;
                }
            }
            &:hover {
                box-shadow: 0 0 0 rgba(0, 0, 0, .2);
                transform: translate3d(0, 0, 0);
                text-decoration: none;
            }
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 1px;
                height: 100%;
                right: 0;
                top: 0;
                background-color: $btnLineOhra;
            }
            &-wrap {
                @media (min-width: 768px) {
                    display: flex;
                    flex-direction: row;
                }
                &_over {
                    width: 100%;
                    background-color: $mainYellow;
                    padding: 1rem 1.5rem .625rem 1.5rem;
                    @media (min-width: 768px) {
                        display: block;
                        padding: 2.125rem 4.4rem .625rem 4.4rem;
                    }
                }
            }
            &_over {
                background-color: $mainBlue;
                border-right: 1px solid #423811;
                &:after {
                    background-color: #052d59;
                }
                &:first-child {
                    margin: 0;
                    margin-bottom: .7rem;
                }
            }
            &_cup {
                position: relative;
                max-width: 8rem;
                width: auto;
                background-color: transparent;
                border: none;
                padding: 0;
                margin: 0;
                transform: none;
                box-shadow: none;
                &:last-child {
                    margin: 0;
                }
                &:after {
                    display: none;
                }
            }
        }
        &__cup {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            right: -1rem;
            bottom: -3rem;
            transform: scale(.4);
            &-wrap {
                display: none;
                @media (min-width: 768px) {
                    position: absolute;
                    display: block;
                    left: 3.5rem;
                    top: 6.2rem;
                    transform: rotate(-9deg);
                }
            }
            @media (min-width: 768px) {
                transform: scale(1);
                right: 2rem;
                bottom: 2rem;
            }
        }
        &__score {
            font-size: 2.5rem;
            color: #ff4f2f;
            font-weight: 800;
            margin-bottom: -.5rem;
        }
        &__text {
            font-size: .9rem;
            color: #000;
            &_over {
                color: #fff;
            }
            @media (min-width: 768px) {
                font-weight: 600;
            }
        }
        &__social {
            padding: .5rem 0;
        }
        &__snitch-container {
            position: absolute;
            top: -1.2rem;
            right: 9.8rem;
            transform: rotateZ(-10deg);
            @media (min-width: 768px) {
                right: 3.9rem;
                top: 5rem;
                transform: rotateZ(20deg);
            }
            @media (max-height: 25rem) {
                display: none;
            }
        }
        &__texture {
            width: 3.75rem;
            height: 3.75rem;
            filter: progid:DXImageTransform.Microsoft.dropshadow(color=rgba(0, 0, 0, .2), offx=3, offy=3);
            filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, .2));
            @media (min-width: 768px) {
                width: 4.875rem;
                height: 4.875rem;
            }
            &_cup {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        &__wing {
            position: absolute;
            max-width: 3.5rem;
            top: -50px;
            left: 0;
            filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, .2));
            filter: progid:DXImageTransform.Microsoft.dropshadow(color=rgba(0, 0, 0, .2), offx=3, offy=3);
            transform: rotate(34deg) translate3d(115%, -32%, 0);
            &:nth-child(2) {
                transform: scaleX(-1) rotate(26deg) translate3d(105%, -26%, 0);
            }
            @media (min-width: 768px) {
                max-width: 4.5rem;
                transform: rotate(30deg) translate3d(99%, -42%, 0);
                &:nth-child(2) {
                    transform: scaleX(-1) rotate(32deg) translate3d(99%, -40%, 0);
                }
            }
        }
        &__star {
            position: absolute;
            max-width: .5rem;
            animation: snitch-star 1s infinite alternate;
            &:nth-child(1) {
                top: 1.4375rem;
                left: .625rem;
                fill: #84e17d;
            }
            &:nth-child(2) {
                top: 2.1875rem;
                left: -1rem;
                fill: #feb3b3;
            }
            &:nth-child(3) {
                top: 3.5rem;
                left: -.375rem;
                fill: #b3d8fe;
            }
            &:nth-child(4) {
                bottom: 4.75rem;
                right: -.125rem;
                fill: #feb3b3;
            }
            &:nth-child(5) {
                bottom: 3.125rem;
                right: .9375rem;
                fill: #b3d8fe;
            }
            &:nth-child(6) {
                bottom: 2.25rem;
                right: -.6rem;
                fill: #b3d8fe;
            }
        }
    }
}

@keyframes snitch-hover {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(0, 5%, 0);
    }
    50% {
        transform: translate3d(0, 0, 0);
    }
    75% {
        transform: translate3d(0, -5%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes snitch-rocked {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(10deg);
    }
    50% {
        transform: rotateZ(0);
    }
    75% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes snitch-magic {
    0% {
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    25% {
        transform: translate3d(.5px, 0, 0) rotate(45deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    75% {
        transform: translate3d(-.5px, 0, 0) rotate(45deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
}

@keyframes snitch-star {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}